body, html {
height: 100%;
}

.navbar {
text-align: right;
}

.logo {
font-family: open sans;
font-size: 18pt;
line-height: 1.4;
float: left;
color: #6466AA;
}

.toplink {
font-family: open sans;
text-transform: uppercase;
font-size: 14px;
text-decoration: none;
padding: 10px;
text-align: right;
line-height: 40px;
transition: all ease-in-out 0.3s;
}

.homepage {
height: 100%;
}

.topfeaturerow {
vertical-align:middle;

}

.imghome {
position: relative;
left: 30px;
z-index: 0;
width: 500px;
}

.imgmobilehand {
position: absolute;
top: 200px;
left: 230px;
z-index: 1;
height: 200px;
cursor: pointer;
}

.mainleft {
display:inline-block;
width: 65%;
}

.topfeaturerowdesc {
display:inline-block;
}

.featureimage {
display:inline-block;
}

.featurestyle {
font-size: 22px;
line-height: 40px;
color: RGB(164,66,0);
border-bottom: 2px solid RGB(255,225,175);
padding: 10px;
transition: all ease-in-out 0.3s;
}

.topfeaturerow1 {
padding-left: 70px;
}

.topfeaturerow2 {
display:inline-block;
padding-left: 30px;
padding-top: 20px;

}

.middlefeaturerow {
padding-top: 20px;
}

.middlefeaturerow1 {
display:inline-block;
text-align:left;
width:55%;
}

.middlefeaturerow2 {
display:inline-block;
width:44%;
}

.bottomfeaturerow {
padding-top: 20px;
}

.bottomfeaturerow1 {
display:inline-block;
padding-left: 60px;
}

.bottomfeaturerow2 {
display:inline-block;
}

.featureicon {
height: 40px;
}

.mainright {
display:inline-block;
width: 34%;
vertical-align: top;
font-family: open sans;
font-size: 22pt;
line-height: 1.4;
text-align: center;
color: #646667;
}

.pageheading {
font-family: open sans;
font-size: 24pt;
line-height: 1.4;
}

.pageheading2 {
font-family: open sans;
font-size: 20pt;
line-height: 1.4;
color: #646667;
}

.imgtabletdashboard {
width: 250px;
}

.solutions {
background-image: url('{{site.baseurl}}/images/smart-home-2769215_1920.png');
 background-repeat: no-repeat; 	
//background-color: RGB(204,237,246);
height: 100%;
text-align:middle;
}

.solutionsrow {
text-align: center;
height: 40%;
}

.solutionscol {
display: inline-block;
padding-bottom: 20px;
margin: 10px;
background-color:white;
width: 30%;
height: 80%;
background: rgba(230,230,230,0.9);
vertical-align: top;
box-shadow: 0 10px 6px -6px #777;
border-radius: 15px 40px;
}

.solutiontitle {
font-family: open sans;
font-size: 18pt;
line-height: 1.4;
color: #ffad2b;
}

.sectionlist { 
vertical-align: top;
text-align: left;

}
.sectionlist ol { 
font-style:italic; 
font-family:Georgia, Times, serif; 
font-size:24px; 
color:#adc1d1;
}
.sectionlist ol li { }
.sectionlist ol li p { 
padding:2px; 
font-style:normal; 
font-family:Arial; 
font-size:14px; 
color: RGB(164,66,0);
border-left: 1px solid #999; 
}
.sectionlist ol li p em { 
display:block; 
}

.footerlink {
font-family: "Times New Roman", Times, serif;
font-size: 14px;
text-decoration: none;
padding: 10px;
}

